:root {
  --text-color: #435262;
  --background-color: #EBEBD3;
  --red-color: #F74123;
  --blue-color: #023E7A;
  --yellow-color: #F4D35E;
  --orange-color: #EE964B;
}

html, body {
  margin: 0;
  width: 100%;
  min-height: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
  font-weight: 600;
}

button {
  border: none;
  background: var(--red-color);
  color: white;
  padding: 0.5em 1em;
  cursor: pointer;
  transition: all .15s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.11);
}

button.LoginButton {
  display: block;
  margin: 0 auto;
  margin-bottom: 1em;
}

input, button, textarea {
  font-family: inherit;
  font-size: inherit;
}

button:hover {
  transform: translateY(-1px);
  opacity: 0.9;
}

button.secondary {
  color: var(--text-color);
  background-color: var(--yellow-color);
}


input[name="event"] {
  height: 2em;
  width: 20em;
  box-sizing: border-box;
  border: none;
  border-bottom: 3px solid rgba(0, 0, 0, 0.12);
  background: rgba(0, 0, 0, 0.04);
  outline: none;
}

input[name="add"][type="submit"] {
  border: none;
  background: var(--red-color);
  color: white;
  padding: 0.5em 1em;
  cursor: pointer;
  transition: all .15s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.11);
}

.Modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,  -50%);
  background-color: var(--background-color);
  border-radius: 2px;
  padding: 1em;
}
